#eclipse files
.project
.settings

#webstorm
.idea/
.iml
*.iml
*.tmp

# temp files
.DS_Store
Thumbs.db
Desktop.ini

#log files
.log

### SublimeText ###
*.sublime-workspace

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

#svn
.svn/*

# Vim swap files
*.swp

node_modules/
.sass-cache/
dist
node_modules/

